.app-main-container {
  .user-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-left: 5rem;
    .user-header {
      margin-bottom: 1rem;
    }
    .table-container {
      height: calc(100vh - 15rem);
    }
    .page-header {
      font-size: 3.5rem;
      margin-left: 0.6rem;
      margin-bottom: 0.3rem;
    }
  }
}

.table-header-cell {
  font-size: 1.4rem;
  color: #1976d2;
}

.form-row {
  .input-field {
    width: 85ch;
  }
  padding: 0.25rem;
}
