.user-profile {
  position: absolute;
  top: 1;
  right: 0;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary {
  &.MuiAppBar-positionFixed.nav-bar.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    background-image: linear-gradient(#00b4e5, yellow);
  }
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  background-image: linear-gradient(#00b4e5, yellow);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  &.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-image: linear-gradient(#00b4e5, yellow);
  }
}
